:root {
    --font-color: #4d4d4d;
    --nav-color: white;
}

* {
    margin: 0;
    padding: 0;
}

body {
    /* font-family: 'Baskervville', serif; */
    font-family: 'Darker Grotesque', serif;
}

hr {
    border: none;
    height: 1px;
    background: rgba(77, 77, 77, 0.2);
}

/* ==========Navbar========== */
nav {
    display: flex;
    background-color: white;
    justify-content: space-around;
    align-items: center;
    padding: 25px 0;
    /* font-family: 'Darker Grotesque', serif; */
}

/* nav .logo {
    z-index: 99;
} */

nav ul {
    /* display: flex; */
    text-align: right;
    list-style: none;
    float: right;
    /* justify-content: flex-start; */
}

nav ul li {
    display: inline-block;
    margin: 5px 10px;
}


nav ul li .pilihan {
    text-decoration: none;
    color: #7b7b7b;
    font-weight: 600;
    font-size: medium;
    text-transform: uppercase;
}

nav ul li .utama {
    font-weight: bolder;
    color: #4d4d4d;
}

/* Hamburger Menu */
.menu-toggle {
    display: none;
    width: 30px;
    height: 30px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 99;
    /* background-color: aqua; */
}

.menu-toggle input {
    position: absolute;
    width: 44px;
    height: 44px;
    left: -2px;
    top: -2px;
    opacity: 0;
    cursor: pointer;
    z-index: 99;
}

.menu-toggle span {
    display: block;
    width: 6px;
    height: 6px;
    background-color: var(--font-color);
    border-radius: 100px;
    transition: .4s;
}

.menu-toggle span:nth-child(2){
    transform-origin: 0 0;
}

.menu-toggle input:checked ~ span:nth-child(2) {
    transform: rotate(-135deg) translate(-23px, -15px);
    width: 3px;
    height: 30px;
}

.menu-toggle input:checked ~ span:nth-child(3) {
    transform: scale(0);
}
.menu-toggle span:nth-child(4){
    transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(4) {
    transform: rotate(-225deg) translate(-4px, 34px);
    width: 3px;
    height: 30px;
}

/* ==========main section========== */


.container {
  text-align: center;
  color: rgb(243, 243, 243);
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('https://source.unsplash.com/1600x900/?productivity-setup');
  background-size: cover;
  background-position: center;
  
/*  this is where the magic happens:  */
  background-attachment: fixed;
}

h1 {
  font-weight: 700;
  font-size: 200px;
  text-shadow: 2px 2px #4d4d4d;
  font-family: 'Corinthia', sans-serif;
}

p {
  max-width: 52ch;
  line-height: 1.5;
  padding: 1em;
  font-size: 20px;
  font-weight: 500;
}

.link {
  display: inline-block;
  padding: 1em 3.5em;
  color: white;
  border: 2px solid white;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0.3em;
  font-weight: 700;
  letter-spacing: .5px;
  font-size: .875rem;
  text-shadow: 2px 2px #4d4d4d;
  box-shadow: 2px 2px #4d4d4d;
}

.link:hover {
    background-color: white;
    color: #4d4d4d;
    transition: all .2s ease-in-out;
    text-shadow: none;
    box-shadow: none;
}

.blank,
.other {
  width: 100%;
  height: 10vh;
  background-color: var(--color);
}

.second {
  background-image:url('https://source.unsplash.com/1600x900/?mechanical-keyboard');
  background-attachment: fixed;
  height: 1200px;
  color: black;
}

h3 {
  font-weight: 700;
  font-size: 1.6rem;
  margin-top: 1em;
}

.card > a {
  margin-bottom: 2em;
}

.item {
  display: flex;
  max-width: 320px;
  background-color: white;;
  flex-direction: column;
  align-items: center;
  border-radius: .5em;
  -webkit-box-shadow: 0px 29px 38px -15px rgba(0,0,0,0.43);
  -moz-box-shadow: 0px 29px 38px -15px rgba(0,0,0,0.43);
  box-shadow: 0px 29px 38px -15px rgba(0,0,0,0.43);
}

.img {
  width: 90%;
  height: 200px;
  background-color: lightgrey;
  background-size: cover;
  background-position: center;
  margin-top: 20px;
  border-radius: .3em;;
}

.img-first {
  background-image: url(https://images.unsplash.com/photo-1522163182402-834f871fd851?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1606&q=80);
}

.img-second {
  background-image: url(https://images.unsplash.com/photo-1628746404106-4d3843b231b3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Y2F2aW5nfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=900&q=60);
}

.img-third {
  background-image: url(https://images.unsplash.com/photo-1632853073412-782bf0279d65?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
}

.second {
  flex-direction: row;
  gap: 1.6em;
}

/* responsive breakpoints */
@media screen and (max-width: 992px) {

    /* ==========main section========== */
    .main-title {
        font-size: 200px;
    }

    .main-sub {
        font-size: 18px;
    }

    .btn {
        font-size: 16px;
    }

    /* ==========featured section========== */
    .feat {
        padding: 50px 100px 50px 100px;
    }
    
    .feat-title h2{
        font-size: 18px;
    }

    .feat-title a{
        font-size: 16px;
    }

    .feat p{
        font-size: 14px;
    }

    .inner img {
        margin-top: 20px;
        width: 200px;
    }
}

@media screen and (max-width: 768px) {

    /* ==========main section========== */
    .main-title {
        font-size: 150px;
        padding-bottom: 100px;
    }

    .main-sub {
        font-size: 16px;
        padding-top: 160px;
    }

    .btn {
        font-size: 14px;
    }
}

@media screen and (max-width: 576px) {
    /* ==========Mavbar========== */
    nav {
        justify-content: space-between;
        padding: 15px 20px;
    }

    nav ul {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: left;
        background-color: var(--nav-color);
        padding-left: 10%;
        padding-top: 10%;
        z-index: 1;
        transform: translateX(-100%);
        transition: all .5s;
        opacity: 0;
    }

    nav ul.slide {
        opacity: 1;
        transform: translateX(0);
    }

    nav ul li {
        margin-top: 1px;
    }

    .menu-toggle {
        display: flex;
    }

    nav .logo img {
        width: 80px;
    }

    /* ==========main section========== */
    .main-title {
        font-size: 100px;
        padding-bottom: 250px;
    }

    .main-sub {
        font-size: 16px;
        padding-bottom: 280px;
        margin: 0 30px;
    }

    .btn {
        font-size: 14px;
        transform: translateY(0);
    }

}

/* @media (max-width: ) {

} */