:root {
    --font-color: #4d4d4d;
    --nav-color: white;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Baskervville', serif;
}

body.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

hr {
    border: none;
    height: 1px;
    background: rgba(77, 77, 77, 0.2);
}

/* ==========Navbar========== */
nav {
    display: flex;
    background-color: white;
    justify-content: space-around;
    align-items: center;
    padding: 25px 0;
    font-family: 'Darker Grotesque', serif;
}

/* nav .logo {
    z-index: 99;
} */

nav ul {
    /* display: flex; */
    text-align: right;
    list-style: none;
    float: right;
    /* justify-content: flex-start; */
}

nav ul li {
    display: inline-block;
    margin: 5px 10px;
}


nav ul li a {
    text-decoration: none;
    color: #7b7b7b;
    font-weight: 600;
    font-size: larger;
}

nav ul li .utama {
    font-weight: bolder;
    color: #4d4d4d;
}

/* Hamburger Menu */
.menu-toggle {
    display: none;
    width: 30px;
    height: 30px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 99;
    /* background-color: aqua; */
}

.menu-toggle input {
    position: absolute;
    width: 44px;
    height: 44px;
    left: -2px;
    top: -2px;
    opacity: 0;
    cursor: pointer;
    z-index: 99;
}

.menu-toggle span {
    display: block;
    width: 6px;
    height: 6px;
    background-color: var(--font-color);
    border-radius: 100px;
    transition: .4s;
}

.menu-toggle span:nth-child(2){
    transform-origin: 0 0;
}

.menu-toggle input:checked ~ span:nth-child(2) {
    transform: rotate(-135deg) translate(-24px, -15px);
    width: 5px;
    height: 30px;
}

.menu-toggle input:checked ~ span:nth-child(3) {
    transform: scale(0);
}
.menu-toggle span:nth-child(4){
    transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(4) {
    transform: rotate(-225deg) translate(-6px, 33px);
    width: 5px;
    height: 30px;
}

/* ==========main section========== */
.main {
    font-family: 'Darker Grotesque', sans-serif;
    color: white;
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;


    pointer-events: none;
}


.main-title {
    font-family: 'Corinthia', cursive;
    position: absolute;
    font-size: 300px;
    padding-bottom: 100px;
}

.main-sub {
    text-transform: uppercase;
    position: absolute;
    padding-top: 130px;
    font-size: 22px;
    text-align: center;
}

.mainBtn {
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    color: white;
    font-size: 20px;
    font-weight: 800;
    transform: translateY(150px);
    transition: 0.1s background-color linear, 0.1s color linear;
}

.mainBtn:hover {
    background: white;
    color: var(--font-color);
}

/* ==========featured section========== */
.feat {
    font-family: 'Baskervville', serif;
    position: relative;
    padding: 50px 340px 50px 340px;
    background: white;
    z-index: 10000;
}

.feat-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.feat-title h2 {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 24px;
    color: var(--font-color);
    margin-bottom: 10px;
    text-align: center;
}

.feat-title a {
    font-size: 20px;
    font-style: italic;
    text-decoration: none;
    color: var(--font-color);
    text-align: center;
}

.feat p {
    font-size: 18px;
    color: var(--font-color);
    text-align: center;
}

.feat-main {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto 50px auto;
    width: auto;
    position: relative;
}

    /* article settings */
.projects-1 {
    width: 400px;
}
.projects-2 {
    width: 400px;
}
.projects-3 {
    width: 400px;
}

.card-body #date {
    text-transform: capitalize;
    font-style: italic;
}

.inner {
    overflow: hidden;
}
    
.inner img {
    width: 400px;
    transition: all 1s ease;
    display: inline-flex;
}
    
.inner:hover img {
    transform: scale(1.1);
}

    /* article */
.main-project {
    width: 100%;
}


/* responsive breakpoints */
@media screen and (max-width: 1288px) {

    /* ==========featured section========== */
    .feat {
        padding: 50px 200px 50px 200px;
    }

    .feat-title h2{
        font-size: 20px;
    }

    .feat-title a{
        font-size: 18px;
    }

    .feat p{
        font-size: 16px;
    }

    .inner img {
        width: 250px;
    }
}

@media screen and (max-width: 1024px) {

    /* ==========main section========== */
    .main-title {
        font-size: 200px;
    }

    .main-sub {
        font-size: 18px;
    }

    .btn {
        font-size: 16px;
    }

    /* ==========featured section========== */
    .feat {
        padding: 50px 100px 50px 100px;
    }
    
    .feat-title h2{
        font-size: 18px;
    }

    .feat-title a{
        font-size: 16px;
    }

    .feat p{
        font-size: 14px;
    }

    .inner img {
        margin-top: 20px;
        width: 200px;
    }
}

@media screen and (max-width: 884px) {
    nav ul {
        width: 50%;
    }

    /* ==========main section========== */
    .main-title {
        font-size: 150px;
        padding-bottom: 100px;
    }

    .main-sub {
        font-size: 16px;
        padding-top: 160px;
    }

    .btn {
        font-size: 14px;
    }
}

@media screen and (max-width: 640px) {
    /* ==========Mavbar========== */
    nav ul {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: left;
        background-color: var(--nav-color);
        padding-left: 15%;
        padding-top: 15px;
        z-index: 1;
        transform: translateX(-100%);
        transition: all .5s;
        opacity: 0;
    }

    nav ul.slide {
        opacity: 1;
        transform: translateX(0);
    }

    nav ul li {
        margin-top: 15px;
    }

    .menu-toggle {
        display: flex;
    }

    nav .logo img {
        width: 80px;
    }

    /* ==========main section========== */
    .main-title {
        font-size: 100px;
        padding-bottom: 250px;
    }

    .main-sub {
        font-size: 16px;
        padding-bottom: 280px;
        margin: 0 30px;
    }

    .btn {
        font-size: 14px;
        transform: translateY(0);
    }

}

/* @media (max-width: ) {

} */